body{
    background-color: #FFFAF6;
    font-family: 'Microsoft JhengHei';
    font-family: 'Trebuchet MS';
}
/* ====================導覽列 */
.first{
    width: 100%;
    background-color: #F8FFF6;
    position: sticky;
    top: 0;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 100px;
    z-index: 10;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.first .frame{
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    display: flex;
}
h1{
    flex-grow: 15;
}
.first img{
    width: 140px;
    height: 56px;
}
.main-list{
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
}
.main-list a{
    padding: 10px 20px;
    text-decoration: none;
    color: #4F1616;
    text-shadow: 0px 0px 1px;
    font-size: 18px;
    transition: 0.3s;
    white-space : nowrap;
}
.main-list a:hover{
    border-bottom: 3px solid #4F1616;
    font-size: 20px;
    transition: 0.3s;
    color: #000;
}
.login{
    flex-grow: 1;
}
.login a{
    background-color: #56AB41;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: 0.3s;
    white-space : nowrap;
}
.login a:hover{
    background-color: #fff;
    color: #4F1616;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid #ccc;
}
/* ====================================footer */
.content-foot{
    background-color: rgba(86, 171, 65, 0.7);
    width: 100%;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.foot-info{
    display: block;
    padding-right: 100px;
    border-right: 1px solid rgba(255, 255, 255, 0.4);
}
.foot-info .text span{
    display: block;
    margin: 20px;
}
.content-foot .logo img{
    width: 300px;
    height: 120px;
}
.writer{
    background-color: rgba(86, 171, 65, 0.7);
    width: 100%;
}
.foot-list a{
    display: block;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    transition: 0.3s;
}
.foot-contact{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.foot-contact a{
    display: block;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    transition: 0.3s;
    transform: rotate(0deg);
    /* transform: rotate3d(0,1,0,0deg); */
}
.foot-list a:hover,
.foot-contact a:hover{
    color: #5d2222;
    font-weight: bold;
    transform: rotate(10deg);
    /* transform: rotate3d(0,1,0,360deg); */
}
.FAQ{
    margin-bottom: 72px;
}
.content-foot .text{
    margin-bottom: 20px;
}
.icon{
    display: flex;
    flex-wrap: wrap;
}
.icon a{
    margin: 0 16px;
}